<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Change of personal data</title>
</head>
<body>
	<main>
		<div>
			<form method="post">
    		{% csrf_token %}
				<fieldset>
					<legend><h1>Change Your Personal Data</h1></legend>
					{% for field in form %}
					<p>
						{{ field.label_tag }}<br>
						{{ field }}
						{% if field.help_text %}
							<small style="color: grey">{{ field.help_text }}</small>
						{% endif %}
						{% for error in field.errors %}
							<p style="color: red">{{ error }}</p>
						{% endfor %}
					</p>
					{% endfor %}
					<button type="submit">Commit Changes</button>
				</fieldset>
			</form>
		</div>
	</main>
</body>
</html>