<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Log In</title>
</head>
<body>
	<main>
		<div>
			<form method="post">
				{% csrf_token %}
				<fieldset>
					<legend><h1>Log In</h1></legend>
					{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
					<label style="font-weight: bolder; font-size: 1em">
						USERNAME
						<input name="username" id="username" placeholder="enter username" type="text"
						style="font-style: italic; font-size: 1em">
					</label>
					<label style="font-weight: bolder; font-size: 1em">
						PASSWORD
						<input name="password" id="password" placeholder="enter password" type="password"
						style="font-style: italic; font-size: 1em">
					</label>
					<button type="submit" style="font-size: 1em; font-weight: bold">LOG IN</button>
				</fieldset>
			</form>
		</div>
	</main>
</body>
</html>